body{ 
    background-color: rgb(177, 158, 133);
}
h1{
    font-family: "Pirata One", serif;
    font-size:5em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
    color: #0a1f3f; 
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
h2{
    font-family: "Inknut Antiqua", serif;
    color: #0a1f3f;
    font-size: 2em; 
    text-align: center;
}
.grad{
    height: 400px; 
    width: 250px; 
}
img{
    display: inline; 
}
.mushak{
    height: 400px; 
    width: 350px;
}
.forensics{
    height: 400px; 
    width: 500px;
}
.seraphis{
    height: 400px; 
    width: 200px; 
}
.images{
    margin-left: 32px;
}
@media (max-width:680px){
    h1{
        font-size: 3em;  
    }
    h2{
        font-size: 1.3em;
    }
    .seraphis{
        height: 400px; 
        width: 200px;
        padding-left: 80px;  
    }
    .mushak{
        height: 300px; 
        width: 300px; 
        padding-left: 37px; 
    }
    .forensics{
        height: 200px; 
        width: 320px; 
        padding-left: 28px; 
    }
    .images{
        margin-left: 0;
    }
    .grad{
        height: 300px; 
        width: 200px;
        padding-left: 80px;  
    }
}
